body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://img.freepik.com/free-vector/exams-concept-illustration_114360-2754.jpg?w=2000');
  background-size: cover;
  background-position: center center;
}

.bg-image-register {
  background-image: url('https://img.freepik.com/free-vector/mobile-login-concept-illustration_114360-135.jpg?w=2000');
  background-size: cover;
  background-position: center center;
}